# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Ruff
.ruff_cache/

# MyPy
.mypy_cache/

# IDE
.idea/

# Environment variables
.env